@charset "UTF-8";

@font-face {
    font-family: 'Brandon';
    src: url(/fonts/brandon-grotesque-light.otf);
    font-weight: normal;
}

@font-face {
    font-family: 'FAvenir';
    src: url(/fonts/metropolis-light.otf);
    font-weight: normal;
}

:root {
    --cor0: #FFFFFF;
    --cor1: #2B475E;
    --cor2: #F27852;
    --cor3: #F4F4F4;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-titulo: 'Brandon';
    --fonte-paragrafo: 'FAvenir';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 62px;
    color: var(--cor1);
    text-align: center;
}

header p, h1, a {
    text-decoration: none;
    color: inherit;
}

header h1 {
    font-family: var(--fonte-titulo);
    font-size: 56px;
    font-weight: 500;
    margin-top: -20px;
}

header p {
    font-family: var(--fonte-paragrafo);
    font-size: 12px;
    padding: 8px;
}

header .divline {
    background-color: var(--cor1);
    width: 940px;
    height: 0.4px;
    margin: auto;
    margin-top: 20px;
}

main .div1 {
    background-color: #2B475E;
    text-align: center;
    height: 214px;
    margin-top: -50px;
    padding: 60px;
    line-height: 2.5em;
    letter-spacing: 0.8px;
}

main .div1 .span1 {
    color: var(--cor0);
    font-family: var(--fonte-paragrafo);
    font-size: 24px;
}

main .div1 .span2 {
    color: var(--cor2);
    font-family: var(--fonte-titulo);
    font-size: 60px;
    font-weight: bold;
}

main .div2 {
    width: 1349px;
    height: 653px;
}

main .div2 .container1texto {
    width: 460px;
    height: 492px;
    background-color: var(--cor0);
    position: absolute;
    margin-top: 95px;
    margin-bottom: 138px;
    margin-left: 205px;
}

main .div2 .container1texto h1 {
    font-family: var(--fonte-titulo);
    font-size: 38px;
    font-weight: bold;
    color: var(--cor2);
    text-align: left;
    margin-top: 40px;
    margin-left: 60px;
    width: 350px;
    height: 40px;
}

main .div2 .container1texto p {
    font-family: var(--fonte-paragrafo);
    font-size: 14px;
    font-weight: lighter;
    color: var(--cor1);
    width: 300px;
    line-height: 1.875em;
    margin-top: 20px;
    margin-left: 60px;
}

main .div2 .div2imagem img {
    width: 560px;
    height: 620px;
    object-fit: cover;
    float: right;
    margin-top: 30px;
    margin-right: 204px;
    margin-bottom: 26px;
}

main .div3 {
    background-color: #2B475E;
    text-align: left;
    width: 1349px;
    height: 867px;
    margin-top: 23px;
    line-height: 2.5em;
    letter-spacing: 0.8px;
}

main .div3 .container3texto {
    width: 430px;
    height: 552px;
    background-color: var(--cor0);
    position: absolute;
    margin-top: 90px;
    margin-left: 205px;
}

main .div3 .container3texto .titulo h1 {
    font-family: var(--fonte-titulo);
    font-size: 40px;
    font-weight: bold;
    color: var(--cor2);
    margin-top: 60px;
    margin-left: 50px;
    width: 230.33px;
    height: 51px;
}

main .div3 .container3texto .paragrafos p {
    font-family: var(--fonte-paragrafo);
    font-size: 10.2px;
    font-weight: lighter;
    line-height: 2.5em;
    color: var(--cor1);
    width: 304px;
    margin-top: 15px;
    margin-left: 50px;
}

main .div3 .container3texto .botao p a {
    font-family: var(--fonte-paragrafo);
    font-size: 12px;
    font-weight: 100;
    color: var(--cor1);
    display: inline-block;
    align-items: center;
    padding: 0px 16px;
    margin-top: 28px;
    margin-left: 50px;
    border: 1px solid var(--cor1);
    border-radius: 100px;
}

main .div3 .container3texto p a:hover {
    color: var(--cor0);
    background-color: var(--cor1);
    transition: 0.4s;
}

main .div3 .div3imagem img {
    width: 560px;
    height: 820px;
    object-fit: cover;
    float: right;
    margin-top: 23px;
    margin-right: 204px;
    margin-bottom: 24px;
}

main .div4 {
    background-color: var(--cor0);
    height: 11px;
    width: 1349px;
}

main .div5 {
    width: 1349px;
    height: 843px;
    background-color: var(--cor3);
}

main .div5 .div5texto {
    width: 460px;
    height: 707px;
    background-color: var(--cor0);
    position: absolute;
    margin-top: 84px;
    margin-left: 205px;
}

main .div5 .div5texto .titulo h1 {
    font-family: var(--fonte-titulo);
    font-size: 40px;
    font-weight: bold;
    color: var(--cor2);
    margin-top: 95px;
    margin-left: 52px;
    width: 297px;
    height: 51px;
}

main .div5 .div5texto .paragrafos p {
    font-family: var(--fonte-paragrafo);
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.875em;
    color: var(--cor1);
    width: 304px;
    margin-top: 10px;
    margin-left: 52px;
}

main .div5 .div5texto .paragrafos .plink {
    text-decoration: underline;
}

main .div5 .div5texto .botao p a {
    font-family: var(--fonte-paragrafo);
    font-size: 14px;
    font-weight: 500;
    color: var(--cor1);
    display: inline-block;
    align-items: center;
    padding: 13px 13px;
    margin-top: 58px;
    margin-left: 52px;
    border: 1px solid var(--cor1);
    border-radius: 100px;
}

main .div5 .div5textp .botao p a:hover {
    color: var(--cor0);
    background-color: var(--cor1);
    transition: 0.4s;
}

main .div5 .div5imagem img {
    width: 560px;
    height: 700px;
    object-fit: cover;
    float: right;
    margin-top: 17px;
    margin-right: 204px;
    margin-bottom: 24px;
}

footer {
    background-color: var(--cor1);
    color: var(--cor0);
    font-family: var(--fonte-paragrafo);
    font-size: 12px;
    padding: 5px;
    text-align: center;
}