@charset "UTF-8";

@font-face {
    font-family: 'Brandon';
    src: url(/fonts/brandon-grotesque-light.otf);
    font-weight: normal;
}

@font-face {
    font-family: 'FAvenir';
    src: url(/fonts/metropolis-light.otf);
    font-weight: normal;
}

:root {
    --cor0: #FFFFFF;
    --cor1: #2B475E;
    --cor2: #F27852;
    --cor3: #F4F4F4;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-titulo: 'Brandon';
    --fonte-paragrafo: 'FAvenir';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red !important;
}

header {
    padding: 62px;
    color: var(--cor1);
    text-align: center;
}

header p, h1, a {
    text-decoration: none;
    color: inherit;
}

header h1 {
    font-family: var(--fonte-titulo);
    font-size: 56px;
    font-weight: 500;
    margin-top: -20px;
}

header p {
    font-family: var(--fonte-paragrafo);
    font-size: 12px;
    padding: 8px;
}

header .divline {
    background-color: var(--cor1);
    max-width: 941px;
    height: 0.4px;
    margin: auto;
    margin-top: 20px;
}

main .div1 {
    background-color: #2B475E;
    text-align: center;
    height: 214px;
    margin-top: -50px;
    padding: 60px;
    line-height: 2.5em;
    letter-spacing: 0.8px;
}

main .div1 .span1 {
    color: var(--cor0);
    font-family: var(--fonte-paragrafo);
    font-size: 24px;
}

main .div1 .span2 {
    color: var(--cor2);
    font-family: var(--fonte-titulo);
    font-size: 60px;
    font-weight: bold;
}

main .sobreoautor .container1 {
    margin: auto;
    width: 939px;
}

main .sobreoautor {
    margin: auto;
    /*width: 1349px;*/
    height: 653px;
    align-items: center;
}

main .sobreoautor .texto {
    width: 460px;
    height: 491.5px;
    background-color: var(--cor0);
    position: absolute;
    margin-top: 95px;
    margin-bottom: 138px;
    /*margin-left: 205px;*/
}

main .sobreoautor .texto h1 {
    font-family: var(--fonte-titulo);
    font-size: 38px;
    font-weight: bold;
    color: var(--cor2);
    text-align: left;
    margin-top: 40px;
    margin-left: 60px;
    width: 350px;
    height: 40px;
}

main .sobreoautor .texto p {
    font-family: var(--fonte-paragrafo);
    font-size: 14px;
    font-weight: lighter;
    color: var(--cor1);
    width: 300px;
    line-height: 1.875em;
    margin-top: 20px;
    margin-left: 60px;
}

main .sobreoautor .imagem1 img {
    width: 560px;
    height: 620px;
    object-fit: cover;
    float: right;
    margin-top: 30px;
    /*margin-right: 204px;*/
    margin-bottom: 26px;
}

main .curriculo .container2 {
    margin: auto;
    width: 939px;
}

main .curriculo {
    background-color: #2B475E;
    text-align: left;
    /*width: 1349px;*/
    height: 867px;
    margin-top: 23px;
    line-height: 2.5em;
    letter-spacing: 0.8px;
}

main .curriculo .texto {
    width: 430px;
    height: 552px;
    background-color: var(--cor0);
    position: absolute;
    margin-top: 90px;
    /*margin-left: 205px;*/
}

main .curriculo .texto .titulo h2 {
    font-family: var(--fonte-titulo);
    font-size: 40px;
    font-weight: bold;
    color: var(--cor2);
    margin-top: 60px;
    margin-left: 50px;
    width: 230.33px;
    height: 51px;
}

main .curriculo .texto .paragrafos p {
    font-family: var(--fonte-paragrafo);
    font-size: 10.2px;
    font-weight: lighter;
    line-height: 2.5em;
    color: var(--cor1);
    width: 304px;
    margin-top: 15px;
    margin-left: 50px;
}

main .curriculo .texto .botao p a {
    font-family: var(--fonte-paragrafo);
    font-size: 12px;
    font-weight: 100;
    color: var(--cor1);
    display: inline-block;
    align-items: center;
    padding: 0px 16px;
    margin-top: 28px;
    margin-left: 50px;
    border: 1px solid var(--cor1);
    border-radius: 100px;
}

main .curriculo .texto p a:hover {
    color: var(--cor0);
    background-color: var(--cor1);
    transition: 0.4s;
}

main .curriculo .imagem2 img {
    width: 560px;
    height: 820px;
    object-fit: cover;
    float: right;
    margin-top: 23px;
    /*margin-right: 204px;*/
    margin-bottom: 24px;
}

main .div4 {
    /*width: 1349px;*/
    height: 11px;
    background-color: var(--cor0);
}

main .redesocial .container3 {
    margin: auto;
    width: 939px;
}

main .redesocial {
    /*width: 1349px;*/
    height: 843px;
    background-color: var(--cor3);
}

main .redesocial .texto {
    width: 460px;
    height: 707px;
    background-color: var(--cor0);
    position: absolute;
    margin-top: 84px;
    /*margin-left: 205px;*/
}

main .redesocial .texto .titulo h3 {
    font-family: var(--fonte-titulo);
    font-size: 40px;
    font-weight: bold;
    color: var(--cor2);
    margin-top: 95px;
    margin-left: 52px;
    width: 297px;
    height: 51px;
}

main .redesocial .texto .paragrafos p {
    font-family: var(--fonte-paragrafo);
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.875em;
    color: var(--cor1);
    width: 304px;
    margin-top: 10px;
    margin-left: 52px;
}

main .redesocial .texto .paragrafos .plink {
    text-decoration: underline;
}

main .redesocial .texto .botao p a {
    font-family: var(--fonte-paragrafo);
    font-size: 14px;
    font-weight: 500;
    color: var(--cor1);
    display: inline-block;
    align-items: center;
    padding: 13px 13px;
    margin-top: 58px;
    margin-left: 52px;
    border: 1px solid var(--cor1);
    border-radius: 100px;
}

main .redesocial .texto .botao p a:hover {
    color: var(--cor0);
    background-color: var(--cor1);
    transition: 0.4s;
}

main .redesocial .imagem3 img {
    width: 560px;
    height: 700px;
    object-fit: cover;
    float: right;
    margin-top: 17px;
    /*margin-right: 204px;*/
    margin-bottom: 24px;
}

footer {
    background-color: var(--cor1);
    color: var(--cor0);
    font-family: var(--fonte-paragrafo);
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

@media (max-width: 990px) {

    header .containerhead {
        margin: auto;
    }

    header {
        color: var(--cor1);
        text-align: center;
    }

    header p, h1, a {
        text-decoration: none;
        color: inherit;
    }

    header h1 {
        font-family: var(--fonte-titulo);
        font-size: 40px;
        font-weight: 500;
        margin-top: -34px;
    }

    header p {
        font-family: var(--fonte-paragrafo);
        font-size: 12px;
        padding: 8px;
    }

    header .divline {
        background-color: var(--cor1);
        max-width: 941px;
        height: 0.4px;
        margin: auto;
        margin-top: 20px;
    }

    main .div1 {
        background-color: #2B475E;
        height: 167px;
        line-height: 1.7em;
        letter-spacing: 0.8px;
        padding: 55px;
    }

    main .div1 .span1 {
        font-family: var(--fonte-paragrafo);
        font-size: 18px;
        color: var(--cor0);
    }

    main .div1 .span2 {
        font-family: var(--fonte-titulo);
        font-size: 47px;
        font-weight: bold;
        width: 220px;
        color: var(--cor2);
    }

    main .sobreoautor .container1 {
        margin: auto;
        width: 728px;
    }

    main .sobreoautor {
        margin: auto;
        height: 508px;
        align-items: center;
    }

    main .sobreoautor .texto {
        width: 356px;
        height: 390px;
        background-color: var(--cor0);
        position: absolute;
        margin-top: 70px;
        margin-bottom: 138px;
    }

    main .sobreoautor .texto h1 {
        font-family: var(--fonte-titulo);
        font-size: 32px;
        font-weight: bold;
        color: var(--cor2);
        text-align: left;
        margin-top: 20px;
        margin-left: 40px;
        width: 300px;
        height: 40px;
    }

    main .sobreoautor .texto p {
        font-family: var(--fonte-paragrafo);
        font-size: 11px;
        font-weight: lighter;
        color: var(--cor1);
        width: 220px;
        line-height: 2em;
        margin-top: 5px;
        margin-left: 40px;
    }

    main .sobreoautor .imagem1 img {
        width: 435px;
        height: 490px;
        object-fit: cover;
        float: right;
        margin-top: 21px;
        margin-bottom: 26px;
    }

    main .curriculo .container2 {
        margin: auto;
        width: 728px;
    }

    main .curriculo {
        background-color: #2B475E;
        text-align: left;
        height: 680px;
        margin-top: 23px;
        line-height: 2.5em;
        letter-spacing: 0.8px;
    }

    main .curriculo .texto {
        width: 330px;
        height: 430px;
        background-color: var(--cor0);
        position: absolute;
        margin-top: 70px;
    }

    main .curriculo .texto .titulo h2 {
        font-family: var(--fonte-titulo);
        font-size: 32px;
        font-weight: bold;
        color: var(--cor2);
        margin-top: 40px;
        margin-left: 32px;
        width: 230px;
        height: 40px;
    }

    main .curriculo .texto .paragrafos p {
        font-family: var(--fonte-paragrafo);
        font-size: 8px;
        font-weight: lighter;
        line-height: 2.4em;
        color: var(--cor1);
        width: 247px;
        margin-top: 15px;
        margin-left: 35px;
    }

    main .curriculo .texto .botao p a {
        font-family: var(--fonte-paragrafo);
        font-size: 10px;
        font-weight: 100;
        color: var(--cor1);
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
        margin-left: 35px;
        border: 1px solid var(--cor1);
        border-radius: 100px;
        height: 40px;
        width: 138px;
        margin-top: 20px;
    }

    main .curriculo .texto p a:hover {
        color: var(--cor0);
        background-color: var(--cor1);
        transition: 0.4s;
    }

    main .curriculo .imagem2 img {
        width: 435px;
        height: 640px;
        object-fit: cover;
        float: right;
        margin-top: 14px;
        margin-bottom: 20px;
    }

    main .div4 {
        height: 10px;
        background-color: var(--cor0);
    }

    main .redesocial .container3 {
        margin: auto;
        width: 728px;
        align-items: center;
        text-align: center;
    }

    main .redesocial .container3 {
        margin: auto;
        width: 728px;
    }

    main .redesocial {
        height: 660px;
        background-color: var(--cor3);
    }

    main .redesocial .texto {
        width: 356px;
        height: 390px;
        background-color: var(--cor0);
        position: absolute;
        margin-top: 70px;
        margin-bottom: 138px;
    }

    main .redesocial .texto .titulo h3 {
        font-family: var(--fonte-titulo);
        font-size: 32px;
        font-weight: bold;
        color: var(--cor2);
        margin-top: 40px;
        margin-left: 32px;
        width: 240px;
        height: 40px;
    }

    main .redesocial .texto .paragrafos p {
        font-family: var(--fonte-paragrafo);
        font-size: 11px;
        font-weight: lighter;
        color: var(--cor1);
        width: 220px;
        line-height: 2em;
        margin-top: 5px;
        margin-left: 40px;
    }

    main .redesocial .texto .paragrafos .plink {
        text-decoration: underline;
    }

    main .redesocial .texto .botao p a {
        font-family: var(--fonte-paragrafo);
        font-size: 14px;
        font-weight: 500;
        color: var(--cor1);
        display: inline-block;
        align-items: center;
        padding: 13px 13px;
        margin-top: 58px;
        margin-left: 52px;
        border: 1px solid var(--cor1);
        border-radius: 100px;
    }

    main .redesocial .texto .botao p a:hover {
        color: var(--cor0);
        background-color: var(--cor1);
        transition: 0.4s;
    }

    main .redesocial .imagem3 img {
        width: 435px;
        height: 540px;
        object-fit: cover;
        float: right;
        margin-top: 17px;
        margin-bottom: 24px;
    }






















    /*main .redesocial {
        height: 843px;
        background-color: var(--cor3);
    }

    main .redesocial .texto {
        width: 300px;
        height: 578.891px;
        background-color: var(--cor0);
        position: absolute;
        margin-top: 84px;
        color: var(--cor1);
    }

    main .redesocial .texto .titulo h3 {
        font-family: var(--fonte-titulo);
        font-size: 40px;
        font-weight: bold;
        margin-top: 95px;
        width: 297px;
        height: 51px;
    }

    main .redesocial .texto .paragrafos p {
        font-family: var(--fonte-paragrafo);
        font-size: 14px;
        font-weight: lighter;
        line-height: 1.875em;
        width: 304px;
        margin-top: 10px;
    }

    main .redesocial .texto .paragrafos .plink {
        text-decoration: underline;
    }

    main .redesocial .texto .botao p a {
        font-family: var(--fonte-paragrafo);
        font-size: 14px;
        font-weight: 500;
        color: var(--cor1);
        display: inline-block;
        align-items: center;
        padding: 13px 13px;
        margin-top: 58px;
        border: 1px solid var(--cor1);
        border-radius: 100px;
    }

    main .redesocial .texto .botao p a:hover {
        color: var(--cor0);
        background-color: var(--cor1);
        transition: 0.4s;
    }

    main .redesocial .imagem3 img {
        width: 340px;
        height: 340px;
        object-fit: cover;
        margin-top: 17px;
        margin-bottom: 24px;
    }*/




    footer {
        background-color: var(--cor1);
        color: var(--cor0);
        font-family: var(--fonte-paragrafo);
        font-size: 12px;
        padding: 5px;
        text-align: center;
    }
}

/*@media (max-width: 768px) {

    header .containerhead {
        margin: auto;
    }

    header {
        padding: 62px;
        color: var(--cor1);
        text-align: center;
    }

    header p, h1, a {
        text-decoration: none;
        color: inherit;
    }

    header h1 {
        font-family: var(--fonte-titulo);
        font-size: 40px;
        font-weight: 500;
        margin-top: -20px;
    }

    header p {
        font-family: var(--fonte-paragrafo);
        font-size: 12px;
        padding: 8px;
    }

    header .divline {
        background-color: var(--cor1);
        max-width: 941px;
        height: 0.4px;
        margin: auto;
        margin-top: 20px;
    }

    main .div1 {
        background-color: #2B475E;
        height: 180px;
        line-height: 1.7em;
        letter-spacing: 0.8px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    main .div1 {
        background-color: #2B475E;
        height: 374px;
        line-height: 2.5em;
        letter-spacing: 0.8px;
        color: var(--cor0);
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: inherit;
    }

    main .div1 .span1 {
        font-family: var(--fonte-paragrafo);
        font-size: 18px;
        color: var(--cor0);
    }

    main .div1 .span2 {
        font-family: var(--fonte-titulo);
        font-size: 47px;
        font-weight: bold;
        width: 220px;
        color: var(--cor2);
    }

    main .sobreoautor .container1 {
        margin: auto;
        width: 340px;
    }

    main .sobreoautor {
        margin: auto;
        height: 833.641px;
        align-items: center;
        text-align: center;
    }

    main .sobreoautor .texto {
        width: 300px;
        height: 483.641px;
        background-color: var(--cor0);
        position: absolute;
        color: var(--cor1);
        margin-left: 20px;
    }

    main .sobreoautor .texto h1 {
        font-family: var(--fonte-titulo);
        font-size: 24px;
        font-weight: bold;
        width: 130.61px;
        height: 30px;
    }

    main .sobreoautor .texto p {
        font-family: var(--fonte-paragrafo);
        font-size: 15px;
        font-weight: lighter;
        width: 300px;
        line-height: 1.875em;
        margin-left: 0px;
    }

    main .sobreoautor .imagem1 img {
        width: 340px;
        height: 340px;
        object-fit: cover;
        margin-top: 45px;
    }












    main .curriculo .container2 {
        margin: auto;
        width: 320px;
        align-items: center;
        text-align: center;
    }

    main .curriculo {
        background-color: #2B475E;
        text-align: left;
        height: 884.891px;
        margin-top: 23px;
        line-height: 2.5em;
        letter-spacing: 0.8px;
    }

    main .curriculo .texto {
        width: 300px;
        height: 534.891px;
        background-color: var(--cor0);
        position: absolute;
        margin-top: 90px;
        color: var(--cor1);
    }

    main .curriculo .texto .titulo h2 {
        font-family: var(--fonte-titulo);
        font-size: 24px;
        font-weight: bold;
        margin-top: 46px;
        width: 138.2px;
        height: 30px;
    }

    main .curriculo .texto .paragrafos p {
        font-family: var(--fonte-paragrafo);
        font-size: 8px;
        font-weight: lighter;
        line-height: 2.5em;
        width: 260px;
        margin-top: 30px;
    }

    main .curriculo .texto .botao p a {
        font-family: var(--fonte-paragrafo);
        font-size: 12px;
        font-weight: 100;
        color: var(--cor1);
        display: inline-block;
        align-items: center;
        padding: 0px 16px;
        margin-top: 28px;
        margin: auto;
        border: 1px solid var(--cor1);
        border-radius: 100px;
    }

    main .curriculo .texto p a:hover {
        color: var(--cor0);
        background-color: var(--cor1);
        transition: 0.4s;
    }

    main .curriculo .imagem2 img {
        width: 340px;
        height: 340px;
        object-fit: cover;
        margin-top: 23px;
        margin-bottom: 24px;
    }








    main .div4 {
        height: 45px;
        background-color: var(--cor0);
    }

    main .redesocial .container3 {
        margin: auto;
        width: 320px;
        align-items: center;
        text-align: center;
    }

    main .redesocial {
        height: 843px;
        background-color: var(--cor3);
    }

    main .redesocial .texto {
        width: 300px;
        height: 578.891px;
        background-color: var(--cor0);
        position: absolute;
        margin-top: 84px;
        color: var(--cor1);
    }

    main .redesocial .texto .titulo h3 {
        font-family: var(--fonte-titulo);
        font-size: 40px;
        font-weight: bold;
        margin-top: 95px;
        width: 297px;
        height: 51px;
    }

    main .redesocial .texto .paragrafos p {
        font-family: var(--fonte-paragrafo);
        font-size: 14px;
        font-weight: lighter;
        line-height: 1.875em;
        width: 304px;
        margin-top: 10px;
    }

    main .redesocial .texto .paragrafos .plink {
        text-decoration: underline;
    }

    main .redesocial .texto .botao p a {
        font-family: var(--fonte-paragrafo);
        font-size: 14px;
        font-weight: 500;
        color: var(--cor1);
        display: inline-block;
        align-items: center;
        padding: 13px 13px;
        margin-top: 58px;
        border: 1px solid var(--cor1);
        border-radius: 100px;
    }

    main .redesocial .texto .botao p a:hover {
        color: var(--cor0);
        background-color: var(--cor1);
        transition: 0.4s;
    }

    main .redesocial .imagem3 img {
        width: 340px;
        height: 340px;
        object-fit: cover;
        margin-top: 17px;
        margin-bottom: 24px;
    }




    footer {
        background-color: var(--cor1);
        color: var(--cor0);
        font-family: var(--fonte-paragrafo);
        font-size: 12px;
        padding: 5px;
        text-align: center;
    }*/