@charset "UTF-8";

@font-face {
    font-family: 'Brandon';
    src: url(/fonts/brandon-grotesque-light.otf);
    font-weight: normal;
}

@font-face {
    font-family: 'FAvenir';
    src: url(/fonts/metropolis-light.otf);
    font-weight: normal;
}

:root {
    --cor0: #FFFFFF;
    --cor1: #2B475E;
    --cor2: #F27852;
    --cor3: #F4F4F4;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-titulo: 'Brandon';
    --fonte-paragrafo: 'FAvenir';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 62px;
    color: var(--cor1);
    text-align: center;
}

header p, h1, a {
    text-decoration: none;
    color: inherit;
}

header h1 {
    font-family: var(--fonte-titulo);
    font-size: 51px;
    font-weight: 500;
    margin-top: -20px;
}

header p {
    font-family: var(--fonte-paragrafo);
    font-size: 20px;
    border-bottom: 0.4px solid var(--cor1);
    padding: 14.5px;
}

main .div1 {
    background-color: #2B475E;
    text-align: center;
    height: 213.828px;
    margin-top: -50px;
    padding: 60px;
    line-height: 2.5em;
    letter-spacing: 0.8px;
}

main .div1 .span1 {
    color: var(--cor0);
    font-family: var(--fonte-paragrafo);
    font-size: 25px;
}

main .div1 .span2 {
    color: var(--cor2);
    font-family: var(--fonte-titulo);
    font-size: 63px;
    font-weight: bold;
}

/*main .div2 {
    width: 984px;
    height: 653px;
}

main .div2 h1 {
    font-family: var(--fonte-titulo);
    font-size: 40px;
    font-weight: lighter;
    color: var(--cor2);
    text-align: left;
}

main .div2 p {
    font-family: var(--fonte-paragrafo);
    font-size: 15px;
    font-weight: lighter;
    color: var(--cor1);
    width: 300px;
    line-height: 1.875em;
}

main .div2 img {
    width: 560px;
    height: 620px;
    object-fit: cover;
    object-position: 50% 50%;
}*/

main .div2 {
    width: 1349px;
    height: 653px;
}

main .div2 .container1text {
    width: 460px;
    height: 492px;
    background-color: var(--cor0);
    position: absolute;
    margin-top: 95px;
    margin-bottom: 138px;
    margin-left: 205px;
}

main .div2 .container1text h1 {
    font-family: var(--fonte-titulo);
    font-size: 40px;
    font-weight: bold;
    color: var(--cor2);
    text-align: left;
    margin-top: 40px;
    margin-left: 42px;
    width: 350px;
    height: 40px;
}

main .div2 .container1text p {
    font-family: var(--fonte-paragrafo);
    font-size: 15px;
    font-weight: lighter;
    color: var(--cor1);
    width: 300px;
    line-height: 1.875em;
    margin-top: 20px;
    margin-left: 42px;
}

main .div2 .conteiner2image img {
    width: 560px;
    height: 620px;
    object-fit: cover;
    float: right;
    margin-top: 30px;
    margin-right: 204px;
    margin-bottom: 26px;
}

main .div3 {
    background-color: #2B475E;
    text-align: left;
    width: 1349px;
    height: 867px;
    margin-top: 20px;
    line-height: 2.5em;
    letter-spacing: 0.8px;
}

main .div3 .container3text {
    width: 432px;
    height: 552px;
    background-color: var(--cor0);
    position: absolute;
    margin-top: 90px;
    margin-left: 182px;
}

main .div3 .container3text .title h1 {
    font-family: var(--fonte-titulo);
    font-size: 36px;
    font-weight: bold;
    color: var(--cor2);
    margin-top: 50px;
    margin-left: 50px;
    width: 230.33px;
    height: 51px;
}

main .div3 .container3text .paragraphs p {
    font-family: var(--fonte-paragrafo);
    font-size: 12px;
    font-weight: lighter;
    line-height: 1.875em;
    color: var(--cor1);
    width: 304px;
    margin-top: 10px;
    margin-left: 50px;
}

main .div3 .container3text .button p a {
    font-family: var(--fonte-paragrafo);
    font-size: 12px;
    font-weight: 500;
    color: var(--cor1);
    display: inline-block;
    align-items: center;
    padding: 0px 10px;
    margin-top: 30px;
    margin-left: 50px;
    border: 1px solid var(--cor1);
    border-radius: 100px;
}

main .div3 .container3text p a:hover {
    color: var(--cor0);
    background-color: var(--cor1);
    transition: 0.4s;
}

main .div3 .conteiner4image img {
    width: 560px;
    height: 820px;
    object-fit: cover;
    float: right;
    margin-top: 23px;
    margin-right: 204px;
    margin-bottom: 24px;
}

main .div4 {
    background-color: var(--cor0);
    height: 11px;
    width: 1349px;
}

main .div5 {
    width: 1349px;
    height: 843px;
    background-color: var(--cor3);
}

main .div5 .container5text {
    width: 460px;
    height: 707px;
    background-color: var(--cor0);
    position: absolute;
    margin-top: 84px;
    margin-left: 205px;
}

main .div5 .container5text .title h1 {
    font-family: var(--fonte-titulo);
    font-size: 40px;
    font-weight: bold;
    color: var(--cor2);
    margin-top: 95px;
    margin-left: 52px;
    width: 297px;
    height: 51px;
}

main .div5 .container5text .paragraphs p {
    font-family: var(--fonte-paragrafo);
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.875em;
    color: var(--cor1);
    width: 304px;
    margin-top: 10px;
    margin-left: 52px;
}

main .div5 .container5text .button p a {
    font-family: var(--fonte-paragrafo);
    font-size: 12px;
    font-weight: 500;
    color: var(--cor1);
    display: inline-block;
    align-items: center;
    padding: 10px 12px;
    margin-top: 30px;
    margin-left: 52px;
    border: 1px solid var(--cor1);
    border-radius: 100px;
}

main .div5 .container5text .button p a:hover {
    color: var(--cor0);
    background-color: var(--cor1);
    transition: 0.4s;
}

main .div5 .container5image img {
    width: 560px;
    height: 700px;
    object-fit: cover;
    float: right;
    margin-top: 17px;
    margin-right: 204px;
    margin-bottom: 24px;
}